<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Admin Top Products</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
    <body>

        <h2>Top 5 mest sålda produkter</h2>

        <table border="1">
            <tr>
                <th>Produkt</th>
                <th>Sålda antal</th>
            </tr>

            <tr th:each="p : ${topProducts}">
                <td th:text="${p.name}"></td>
                <td th:text="${p.totalSold}"></td>
            </tr>
        </table>

        <a href="/admin">Tillbaka</a>

    </body>
</html>