<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Topprodukter</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">

    <h1>Topprodukter</h1>

    <div class="card">
        <h2>Top 5 mest sålda produkter</h2>

        <table>
            <tr>
                <th>Produkt</th>
                <th>Sålda antal</th>
            </tr>

            <tr th:each="p : ${topProducts}">
                <td th:text="${p.name}"></td>
                <td th:text="${p.totalSold}"></td>
            </tr>
        </table>
    </div>

    <div class="card">
        <a href="/admin">Tillbaka till dashboard</a>
    </div>

</div>

</body>
</html>