<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kategorier</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">

    <h1>Kategorier</h1>

    <div class="card">
        <ul>
            <li th:each="c : ${categories}" th:text="${c.name}"></li>
        </ul>
    </div>

    <div class="card">
        <h2>Skapa ny kategori</h2>

        <form th:action="@{/categories}" method="post">
            <input name="name" placeholder="Kategorinamn" required>
            <br><br>
            <button type="submit">Skapa</button>
        </form>
    </div>

    <div class="card">
        <a href="/products">Tillbaka till produkter</a>
    </div>

</div>

</body>
</html>