<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Redigera kund</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">

    <h1>Redigera kund</h1>

    <div class="card">
        <form th:action="@{/customers/update}" method="post">
            <input type="hidden" name="email" th:value="${customer.email}">

            <div>
                <label>Namn</label><br>
                <input type="text" name="name" th:value="${customer.name}" required>
            </div>

            <button type="submit">Spara</button>
        </form>
    </div>

    <div class="card">
        <a href="/">Tillbaka</a>
    </div>

</div>

</body>
</html>