<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produkter per kategori</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">

    <h1 th:text="'Kategori: ' + ${category}"></h1>

    <div class="card">
        <ul>
            <li th:each="p : ${products}">
                <strong th:text="${p.name}"></strong>
                <span>
                    (
                    <span th:text="${p.price}"></span>
                    )
                </span>

                <form th:action="@{/cart/add}" method="post">
                    <input type="hidden" name="sku" th:value="${p.sku}">
                    <br>
                    <input type="number" name="qty" value="1" min="1">
                    <br><br>
                    <button type="submit">Lägg i varukorg</button>
                </form>
            </li>
        </ul>
    </div>

    <div class="card">
        <a href="/products">Tillbaka till produkter</a>
    </div>

</div>

</body>
</html>